<header class="header">
  <div class="logoText">
    <h1>Todo List</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a
          [class.selected]="currentRoute === '/'"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          (click)="setCurrentRoute('/')"
          >Home</a
        >
      </li>
      <li>
        <a
          [class.selected]="currentRoute === '/to-do'"
          routerLink="/to-do"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          (click)="setCurrentRoute('/to-do')"
          >To Do</a
        >
      </li>
    </ul>
  </nav>
</header>
